@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/gilroy/Gilroy-Regular.ttf') format('woff2');
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  font-family: "Gilroy";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
